{% extends "base.html" %}

{% block content %}

<h3>Adaptive Practice Session</h3>

<p class="text-muted">
Difficulty Level: <b>{{ difficulty }}</b>
</p>

<form method="POST" action="/submit_practice">

{% for q in questions %}

<div class="card mb-3 shadow">
<div class="card-body">

<p><strong>{{ loop.index }}. {{ q.question }}</strong></p>

{% set qname = "q" ~ loop.index0 %}

{% for option in q.options %}

<div class="form-check">
<input class="form-check-input"
type="radio"
name="{{ qname }}"
value="{{ option }}"
required>

<label class="form-check-label">
{{ option }}
</label>
</div>

{% endfor %}

</div>
</div>

{% endfor %}

<button class="btn btn-primary w-100">
Submit Practice
</button>

</form>

{% endblock %}